<!DOCTYPE html>
<!-- ADAPTED FROM TEMPLATE at https://getbootstrap.com/docs/3.4/examples/navbar/-->

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shockwave - Dashboard</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon.ico') }}">

    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/sb-admin.css')}}" rel="stylesheet">

  </head>

  <body id="page-top">
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        {% if page=='dashboard' %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
          <a class="nav-link" href="dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        {% if page=='buy' %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
          <a class="nav-link" href="buy">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Buy</span></a>
        </li>
        {% if page=='transaction' %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
          <a class="nav-link" href="transaction">
            <i class="fas fa-fw fa-table"></i>
            <span>Transaction</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">


          {% block body %}

          {% endblock %}

        </div>

      </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <br>
    <br>
    <br>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <a class="btn btn-primary" href="logout">Logout</a>
          </div>
        </div>
      </div>
    </div>


  </body>

</html>